header {
    display: flex;
    background: #fc4630;
    justify-content: end;
    width: 100%;
    height: 20px;
}

.navbar {
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fc4630;
    padding: 5rem;
    z-index: 1;
}

.about {
    display: flex;
    align-items: center;
    width: 100%;
    height: 600px;
    justify-content: space-evenly;
}


.about img {
    height: 600px;
    opacity: 0.5;

}

.textAbout {
    text-align: left;
    width: 400px;
    contain: '';
}

.textAbout p {
    color: #fff;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
}

.textAbout h3 {
    color: #fff;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
}

@media only screen and (max-width: 748px) {
    header{
        display: flex;
        justify-content: center;
    }

    .btn1 {
        text-align: center;
        width: 170px;
        height: 70px;
        top: 3rem;
        right: .5rem;
        font-weight: 700;
        font-size: 20px;
        border-radius: 20px;
        background: transparent;
        border: #e7d84b solid 2px ;
    }

    .btn1:hover {
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
    }

    .buttonModal a {
        text-decoration: none;
        color: #fff;
    }
    
    .about {
        margin-top: 2rem;
        flex-direction: column;
        justify-content: center;
        height: 900px;
        flex-direction: column-reverse;

    }

    .textAbout {
        text-align: center;
        width: 300px;
        height: 300px;
        contain: '';
        margin-top: 3rem;
    }
    .about img {
        height: 400px;
        opacity: 0.5;
    
}
}